<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
    <head>
        {% block head %}

        <meta charset="utf-8">
        <title>{% block title %}{{ AUTHOR }}{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="author" content="{{ AUTHOR }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            <script src="/theme/html5.js"></script>
        <![endif]-->

        {% block feed %}{% endblock feed %}

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <script>
        document.documentElement.className += ' js';
        window.__photoSwipeReady = false;
        window.__pendingPhotoSwipeLink = null;
        document.addEventListener('click', function(event) {
            const link = event.target.closest && event.target.closest('a.lightbox-img');
            if (link && link.closest('#the-gallery') && !window.__photoSwipeReady) {
                window.__pendingPhotoSwipeLink = link;
                event.preventDefault();
            }
        }, true);
        </script>

        <!-- Le styles -->
        <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css" rel="stylesheet">
        <link href="/theme/local.css" rel="stylesheet">
        <link href="/theme/pygments.css" rel="stylesheet">
        <link href="/theme/fontawesome/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="/theme/photoswipe/photoswipe.css">
        <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&family=IBM+Plex+Sans:wght@400;700&family=IBM+Plex+Serif:wght@500&display=swap" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&family=IBM+Plex+Sans:wght@400;700&family=IBM+Plex+Serif:wght@500&display=swap" rel="stylesheet"></noscript>
        <link rel="modulepreload" href="/theme/photoswipe/photoswipe-lightbox.esm.min.js">
        <link rel="modulepreload" href="/theme/photoswipe/photoswipe.esm.min.js">

        {% endblock head %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <header class="blog-header">
            <div class="container">
                <div class="row-fluid">
                    {% block brand %}
                    <div class="span9">
                        <a href="/" class="brand">{{ AUTHOR }}</a>
                    </div>
                    {% endblock brand %}

                    {% block nav %}
                    <div class="span3" id="blog-nav">
                        <ul class="nav nav-pills pull-right">
                            <li><a href="/blog_index.html"><b>Blog</b></a></li>
                            <li><a href="/gallery_index.html"><b>Gallery</b></a></li>
                        </ul>
                    </div>
                    {% endblock nav %}
                </div> <!-- End of fluid row-->
            </div>   <!-- End of Container-->
        </header>

        <div class="container">
            <div class="content">
                <div class="row-fluid">

                    {% block profile_span %}
                    <div class="span3">
                        {% block profile %}{% endblock %}
                    </div>
                    {% endblock profile_span %}

                    {% block content_span %}
                    <div class="span9">
                        {% block content %}{% endblock %}
                    </div>
                    {% endblock content_span %}

                </div> {# End row #}
            </div> {# End content #}
        </div>

        <!--footer-->
        <div class="container">
            <div class="well" style="background-color: #E9EFF6">
                {% block links %}{% endblock %}
                <p align="left">
                &copy; <script>document.write(new Date().getFullYear())</script> {{ AUTHOR }} {% block license %}licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC BY-SA 4.0</a>{% endblock license %}. <br>
                Powered by <a href="https://github.com/getpelican/pelican">Pelican</a>, <a href="https://getbootstrap.com/">Bootstrap</a>, and <a href="https://nixos.org/">NixOS</a>.
                Icons by <a href="https://fortawesome.github.com/Font-Awesome">Font Awesome</a>.
                {% if COMMIT != "dirty" %} Generated from <a href="https://github.com/KireinaHoro/jsteward.moe/tree/{{ COMMIT }}">{{ COMMIT }}</a>. {% endif %}
                </p>
            </div> <!--end of well -->
        </div> <!--end of container -->

        <!--/footer-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>

        {% block extra_body %}{% endblock extra_body %}

        <script type="module">
        import PhotoSwipeLightbox from '/theme/photoswipe/photoswipe-lightbox.esm.min.js';

        const gallery = document.querySelector('#the-gallery');
        if (gallery) {
            const lightbox = new PhotoSwipeLightbox({
                gallery: gallery,
                children: 'a.lightbox-img',
                showHideAnimationType: 'fade',
                pswpModule: () => import('/theme/photoswipe/photoswipe.esm.min.js')
            });
            lightbox.on('slideInit', function(event) {
                // Keep PhotoSwipe from swapping element size at the end of zoom animations.
                event.slide.g = function() {};
            });
            lightbox.on('uiRegister', function() {
                lightbox.pswp.ui.registerElement({
                    name: 'custom-caption',
                    order: 9,
                    isButton: false,
                    appendTo: 'root',
                    html: '',
                    onInit: (el, pswp) => {
                        pswp.on('change', () => {
                            const currSlideElement = pswp.currSlide.data.element;
                            let captionHTML = '';
                            if (currSlideElement) {
                                const img = currSlideElement.querySelector('img');
                                captionHTML = img.getAttribute('data-caption') || img.getAttribute('alt');
                            }
                            el.textContent = captionHTML || '';
                        });
                    }
                });
            });
            lightbox.init();
            window.__photoSwipeReady = true;

            if (window.__pendingPhotoSwipeLink) {
                const link = window.__pendingPhotoSwipeLink;
                window.__pendingPhotoSwipeLink = null;
                link.dispatchEvent(new MouseEvent('click', {
                    bubbles: true,
                    cancelable: true,
                    view: window
                }));
            }
        }
        </script>

        {% include "analytics.html" %}

    </body>
</html>
