{% extends "base-clean.html" %}
{% block links %}
    <div id="blog-footer">
      <div class="row-fluid">
	{% if SOCIAL %}
	<div class="social span2" align="left" id="socialist">
	  <ul class="nav nav-list">
	    <li class="nav-header">
	      Social
	    </li>
	    {% for name,link in SOCIAL %}
	    <li><a href="{{ link }}"><i class="fab fa-{{ name }}" style="color: #1f334b"></i> {{name}}</a></li>
	    {% endfor %}
            {% if EMAIL%}
            <a href="mailto:{{ EMAIL}}"><i class="fas fa-envelope" style="color: #1f334b" ></i> email</a>
            {% endif %}

	  </ul>
	</div>
	{% endif %}
	{% include "colophon.html" %}
        {% if LINKS %}
        <div class="links span2" align="left">
          <ul class="nav nav-list">
            <li class="nav-header">
              Links
            </li>

            {% for name, link in LINKS %}
            <li><a href="{{ link }}">{{ name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
	<div class="site-nav span2" align="left">
          <ul class="nav nav-list" id="site-links">
            <li class="nav-header">
              Site
            </li>
            <li><a href="{{ SITEURL }}"><i class="fas fa-home" style="color: #1f334b">
                </i> Home</a></li>
            <li><a href="{{ SITEURL }}/archives.html"><i class="fas fa-list" style="color: #1f334b">
                </i> Archives</a></li>
	    <li><a href="{{ SITEURL }}/tags.html"><i class="fas fa-tags" style="color: #1f334b">
                </i> Tags</a></li>

	    {% if FEED_RSS %}
	    <li> <a href="{{ SITEURL }}/{{ FEED_RSS }}" rel="alternate">
                <i class="fas fa-rss" style="color: #1f334b"></i>
                RSS Feed</a></li>
	    {% endif %}
	    {% if FEED_ALL_ATOM %}
	    <li> <a href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" rel="alternate">
                <i class="fas fa-rss" style="color: #1f334b"></i> Atom Feed</a></li>
	    {% endif %}
	  </ul>

        </div>

      </div> <!--end of fluid row-->
    </div> <!--end of blog-footer-->
    <hr />
{% endblock %}
