{% extends "base-clean.html" %}

{% block title %}{{ SITENAME }}{% endblock title %}

{% block feed %}
{% if FEED_RSS %}
<link href="/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
{% endif %}
{% if FEED_ALL_ATOM %}
<link href="/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
{% endif %}
{% endblock feed %}

{% block profile_span %}
<div class="span10">
    {% endblock profile_span %}

    {% block brand %}
    <div class="span7">
        <a href="/" class="brand">{{SITENAME}}</a>
        {% endblock brand %}

        {% block nav %}
        <div class="span5" id="blog-nav">
            <ul class="nav nav-pills pull-right">
                {% if DISPLAY_PAGES_ON_MENU %}
                {% for page in PAGES %}
                <li><a href="/{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
                {% endif %}
                {% for cat, null in categories %}
                <li {% if cat == category %} class="active" {% endif %}>
                    <a href="/{{ cat.url }} ">{{ cat }}</a>
                    {% endfor %}
            </ul>
        </div>
        {% endblock nav %}

        {% block links %}
        <div id="blog-footer">
            <div class="row-fluid">
                {% if SOCIAL %}
                <div class="social span2" align="left" id="socialist">
                    <ul class="nav nav-list">
                        <li class="nav-header">
                            Social
                        </li>
                        {% for name,link in SOCIAL %}
                        <li><a href="{{ link }}"><i class="fab fa-{{ name }}" style="color: #1f334b"></i> {{name}}</a></li>
                        {% endfor %}
                        {% if EMAIL%}
                        <a href="mailto:{{ EMAIL}}"><i class="fas fa-envelope" style="color: #1f334b" ></i> email</a>
                        {% endif %}

                    </ul>
                </div>
                {% endif %}
                {% include "colophon.html" %}
                {% if LINKS %}
                <div class="links span2" align="left">
                    <ul class="nav nav-list">
                        <li class="nav-header">
                            Links
                        </li>

                        {% for name, link in LINKS %}
                        <li><a href="{{ link }}">{{ name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="site-nav span2" align="left">
                    <ul class="nav nav-list" id="site-links">
                        <li class="nav-header">
                            Site
                        </li>
                        <li><a href=""><i class="fas fa-home" style="color: #1f334b">
                                </i> Home</a></li>
                                <li><a href="/archives.html"><i class="fas fa-list" style="color: #1f334b">
                                        </i> Archives</a></li>
                                        <li><a href="/tags.html"><i class="fas fa-tags" style="color: #1f334b">
                                                </i> Tags</a></li>

                                                {% if FEED_RSS %}
                                                <li> <a href="/{{ FEED_RSS }}" rel="alternate">
                                                        <i class="fas fa-rss" style="color: #1f334b"></i>
                                                        RSS Feed</a></li>
                                                {% endif %}
                                                {% if FEED_ALL_ATOM %}
                                                <li> <a href="/{{ FEED_ALL_ATOM }}" rel="alternate">
                                                        <i class="fas fa-rss" style="color: #1f334b"></i> Atom Feed</a></li>
                                                {% endif %}
                    </ul>

                </div>

            </div> <!--end of fluid row-->
        </div> <!--end of blog-footer-->
        <hr />
        {% endblock links %}
